@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(../src/fonts/Lausanne-300.woff2);
}

@font-face {
  font-family: font2;
  src: url(../src/fonts/Lausanne-500.woff2);
}
body{
  background-color: #111;
}